body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.row {
    background-color: rgb(225, 230, 230);
    border: solid 2px black;
    border-radius: 5%;

}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link {
    color: rgb(68, 68, 68);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error {
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}